* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}
html, body {
	margin: 0;
    padding: 0;
}

body {
	background: #181818;
	
}
nav {
	width: 100%;
	background: #1F1F1F;
	/* position: fixed; */
	/* margin-bottom: ; */
}

h1 {
	font-family: 'sf_ui_displaybold', Arial, Helvetica, sans-serif;
	color: white;
}
p {
	font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
	color: white;
}

a {
	font-family: 'sf_ui_displaysemibold', Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
}

input {
	border: 0;
	width:50%;
	height: 3em;
	border-radius: 20px;
	/* float: left; */
	color: #999999;
	font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
	font-size: .95em;
}

::placeholder {
	color: #999999;
	font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
	font-size: .95em;
	border-radius: 20px;
	/* font-weight: 700; */
}

input:focus, textarea:focus {
    outline: none;
}
.nav-right {
	float: right;
	text-align: right;
	/* text-justify:; */
	position: relative;
}
.nav-right > ul {
	float: right;
	/* position: absolute; */
	bottom: 0;
}
.nav-left {
	float: left;
}
.nav-left > ul > li {
	list-style-type: none;
	display: inline;
}

.nav-right > ul > li {
	display: inline-block;
	color: white;
	font-family: 'sf_ui_displaysemibold', Arial, Helvetica, sans-serif;
	margin: 0 15px;

}



.nav-container {
	max-width: 80%;
	min-width: 80%;
	margin: 0 auto;
}
.container {
	min-width: 80%;
	max-width: 80%;
	height: 600px;
	max-height: 600px;
	margin: 0 auto;
	/* border: 1px solid red; */

}
/* .p-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
} */
.p-gallery {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	height: 1400px;
	max-width: 100%;
	margin-left: -10px;
	/* overflow-y: hidden; */

}
.ps1, .ps2, .ps3, .ps4 {
	background: #FFF;
	width: 33%;
	min-width: 33%;
	margin: .4em;
	text-align: center ;
}

.ps1 {
	height: 200px;
	min-height: 200px;
}

.ps2 {
	height: 250px;
	min-height: 250px;
}

.ps3 {
	height: 300px;
	min-height: 300px;
}

.ps4 {
	height: 400px;
	min-height: 400px;
}

.photo-link {
	color: #999999;
	background: #363636;
	display: inline-block;
	border: 1px solid #999999;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 10px;

}
.camicon {
	float: left;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	bottom: 0;
	
}

.clearfix {
	clear: both;
}

.profile-circle {
	background: white;
	border-radius: 50%;
	min-width: 30px;
	min-height: 30px;
	/* max-width: 30px;
	max-height: 30px; */
	display: inline-block;
}

.jumbotron {
	margin: 0 auto;
	min-width: 55%;
	width: 55%;

}

.searchbar {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	/* padding-right: -540px; */
	min-width: 100%;
	background: white;
	width: 100%;
	border-radius: 10px;
	border: 0;
	/* font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
	font-size: 1.1em; */
}

.search-icon {
	padding-left: .8em;
	padding-right: .8em;
	display: inline-block;
	color: #999999;
	/* float: left; */
}

.search-button {
	/* display: inline; */
	/* display: inline-block; */
	color: #999999;
	font-family: 'sf_ui_displaysemibold', Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 15px 30px 15px 30px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 10px;
	float: right;
	margin-right: 5px;
	margin-top: -10px;
	/* float: left; */
	
}

.trending-container {
	width:55%;
	margin: 0 auto;
}
.trending-title {
	font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
	color: #999999;

}

.trending-items {
	font-family: 'sf_ui_displaysemibold', Arial, Helvetica, sans-serif;
	color: white;
}

.jumbotron-footer {
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
	width: 100%;
	/* padding-left: .1em; */
	/* padding-right: .1em; */
}

.photo-of-the-day {
	float: left;
	text-align: left;
	padding-left: -.2em;
}

.license-notification {
	float: right;
	text-align: right;
	/* padding-right: -50px; */
}

.p-text {

	font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
	color: #999999;

}

.filter-container {
	width: 100%;
	margin: 0 auto;
}

.filter-links {
	/* float: left; */
	float: left;

	min-width: 50%;

}

.filter-links > ul > li {
	display: inline;
	list-style: none;
	

}

.filter-links > ul {
	text-align: left;
	/* margin */
	padding-left: 0;
	
}

.grid-icons {
	float: right;
	min-width: 50%;
	text-align: right;
}

.grid-icons > ul {
	text-align: right;
	padding-left: 0;
	padding-right: 0;
}

.grid-icons > ul > li {
	display: inline;
	list-style: none;
	text-align: right;
}

.debug {
	border: 1px solid red;
}

